-
  var Planets = [
    {
        name: "sun",
        governance: "soul",
        status: "royal",
        gender: "male",
        element: "fire",
        temperament: "calm",
        nature: "malefic",
    },
    {
        name: "moon",
        governance: "mind",
        status: "royal",
        gender: "female",
        element: "water",
        temperament: "calm",
        nature: "benefic or malefic",
    },
    {
        name: "mars",
        governance: "mind",
        status: "chief",
        gender: "male",
        element: "fire",
        temperament: "inert",
        nature: "malefic",
    },
    {
        name: "venus",
        governance: "semen",
        status: "minister",
        gender: "female",
        element: "water",
        temperament: "dynamic",
        nature: "benefic",
    },
    {
        name: "mercury",
        governance: "speach",
        status: "prince",
        gender: "neuter",
        element: "earth",
        temperament: "dynamic",
    },
    {
        name: "jupiter",
        governance: "knowledge",
        status: "minister",
        gender: "male",
        element: "space",
        temperament: "calm",
        nature: "benefic",
    },
    {
        name: "saturn",
        governance: "grief",
        status: "army",
        gender: "neuter",
        element: "air",
        temperament: "inert",
        nature: "malefic",
    },
    {
        name: "rahu",
        governance: "fire",
        status: "army",
        element: "",
        temperament: "",
        nature: "malefic",
    },
    {
        name: "ketu",
        governance: "water",
        status: "army",
        element: "air",
        temperament: "",
        nature: "malefic",
    },
 ]
 
  const Signs = [
     {
        name: "aries",
        planet: "mars",
        element: "Fire",
        nature: "Movable",
        gender: "Male",
        varna: "Kshatriya",
        ascension: "Short",
        rises: "Hind",
        direction: "Northern",
        type: "Quadruped",
        fertility: "Barren",
        bodyPart: "Head",
    },
    {
        name: "taurus",
        planet: "venus",
        element: "Earth",
        nature: "Fixed",
        gender: "Female",
        varna: "Vaishya",
        ascension: "Short",
        rises: "Hind",
        direction: "Northern",
        type: "Quadruped",
        fertility: "Fruiteful",
        bodyPart: "Face & Throat",
    },
    {
        name: "gemeni",
        planet: "mercury",
        element: "Air",
        nature: "Dual",
        gender: "Male",
        varna: "Shudra",
        ascension: "Short",
        rises: "Head and Hind",
        direction: "Northern",
        type: "Human",
        fertility: "Barren",
        bodyPart: "Shoulders & Chest",
    },
    {
        name: "cancer",
        planet: "moon",
        element: "Water",
        nature: "Movable",
        gender: "Feale",
        varna: "Brahmin",
        ascension: "Long",
        rises: "Head",
        direction: "Northern",
        type: "Reptile",
        fertility: "Fruiteful",
        bodyPart: "Heart",
    },
    {
        name: "leo",
        planet: "sun",
        element: "Fire",
        nature: "Fixed",
        gender: "Male",
        varna: "Kshatriya",
        ascension: "Long",
        rises: "Head",
        direction: "Northern",
        type: "Quadruped",
        fertility: "Barren",
        bodyPart: "Stomach & Upper Abdomen",
    },
    {
        name: "virgo",
        planet: "mercury",
        element: "Earth",
        nature: "Dual",
        gender: "Female",
        varna: "Vaishya",
        ascension: "Long",
        rises: "Head",
        direction: "Northern",
        type: "Human",
        fertility: "Barren",
        bodyPart: "Waist & Intestines",
    },
    {
        name: "libra",
        planet: "Venus",
        element: "Air",
        nature: "Movable",
        gender: "Male",
        varna: "Shudra",
        ascension: "Long",
        rises: "Head",
        direction: "Southern",
        type: "Human",
        fertility: "Moderate",
        bodyPart: "Below Navel",
    },
    {
        name: "scorpio",
        planet: "mars",
        element: "Water",
        nature: "Fixed",
        gender: "Female",
        varna: "Brahmin",
        ascension: "Long",
        rises: "Head",
        direction: "Southern",
        type: "Reptile",
        fertility: "Fruiteful",
        bodyPart: "Genitalia",
    },
    {
        name: "sagittarious",
        planet: "jupiter",
        element: "Fire",
        nature: "Dual",
        gender: "Male",
        varna: "Kshatria",
        ascension: "Long",
        rises: "Hind",
        direction: "Southern",
        type: "Half Human & Half Quadruped",
        fertility: "Fruiteful",
        bodyPart: "Thighs",
    },
    {
        name: "capricorn",
        planet: "saturn",
        element: "Earth",
        nature: "Movable",
        gender: "Female",
        varna: "Vaishya",
        ascension: "Short",
        rises: "Hind",
        direction: "Southern",
        type: "Quadruped",
        fertility: "Moderate",
        bodyPart: "Knees",
    },
    {
        name: "aquarious",
        planet: "saturn",
        element: "Air",
        nature: "Fixed",
        gender: "Male",
        varna: "Shudra",
        ascension: "Short",
        rises: "Hind",
        direction: "Southern",
        type: "Human",
        fertility: "Moderate",
        bodyPart: "Ankles",
    },
    {
        name: "pisces",
        planet: "jupiter",
        element: "Water",
        nature: "Dual",
        gender: "Male",
        varna: "Brahmin",
        ascension: "Short",
        rises: "Head and Hind",
        direction: "Southern",
        type: "Reptile",
        fertility: "Fruiteful",
        bodyPart: "Feet",
    },
  ]
  var House1 = 
    [
        {
            name: "intellect level",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "health",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "appearance",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "beauty",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "character",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "purpose of life",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
        {
            name: "behvior",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                         
        {
            name: "physical comforts",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },        
    ]
  var House2 = 
    [
        {
            name: "wealth",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "family",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "domestic comforts",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "early education",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "inheritance",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "speech",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
        {
            name: "movable assets",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                         
             
    ]
  var House3 = 
    [
        {
            name: "younger brothers and sisters",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "communication",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "intelligence",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "finearts",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "short journeys",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
              
    ]
  var House4 = 
    [
        {
            name: "mother",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "emotions",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "education",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "home",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "property",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "surrounding in old age",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
        {
            name: "vehicles",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                         
               
    ]
  var House5 = 
    [
        {
            name: "children",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "lovers",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "recreation",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "devotion",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "speculation and gambling",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "accumulated karma",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
               
    ]
  var House6 = 
    [
        {
            name: "diseases",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "maternal uncle and aunt",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "litigation",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "servants",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "mental worries",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "foreigners",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
        {
            name: "small intestine",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                         
               
    ]
  var House7 = 
    [
        {
            name: "spouse",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "business partner",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "death",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "respect",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "passion",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
               
    ]
  var House8 = 
    [
        {
            name: "death and longevity",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "obstacles",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "suffering",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "attractiveness",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "inheritance",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "accidents",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
              
    ]
  var House9 = 
    [
        {
            name: "father",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "luck",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "higher learning",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "philosophy",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "guru",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "prosperity",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
        {
            name: "travel",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                         
        {
            name: "deeds of virtue",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },        
    ]
  var House10 = 
    [
        {
            name: "profession",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "status and fame",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "power",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "father",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "mother-in-law",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
               
    ]
  var House11 = 
    [
        {
            name: "friends",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "hopes",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "earnings",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "social activites",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "elder brothers and sisters",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
             
    ]
  var House12 = 
    [
        {
            name: "expenses",
            signEffect: {"aries": "high", "tarus": "very high"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        {
            name: "sleep",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
        },
        
        {
            name: "spirituality",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },         
        {
            name: "traveland pilgrimage",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "liberation",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },
        {
            name: "foreign residency",
            signEffect: {"aries": "strong", "tarus": "very strong"},
            planetEffect: {"sun": "fame", "moon": "peace", "mars": "leadership"},
            
        },                 
             
    ]
    
  var signsInHouseList = {
        "House1": {
            "sun": "Because of the presence of Sun in your 1st house, you will have a strong personality. The image that you present to others will tally with your inner image and you make good impression on others. Your presence will be felt when you are in a group. Although you  project a strong image, you are self-conscious coupled with a bit of ego. You do not like to taking orders from others. You will feel at your best when you make a mark on the world. The best working placement for you will be a government authoritative position or as a political leader. Sun in 1st house also signifies progress and good fortune. You will be studious, intelligent, may not speak a lot, and may settle or travel abroad", 
            "moon":"Your feelings are right out there for everyone to see, and you can come across as emotional and impatient, or nurturing and caring (or both). Your first reaction is emotional, especially if the Moon is in close proximity (within ten degrees) of the Ascendant degree. You need emotional stimulation, movement, and freedom to express yourself in order to feel happy and fulfilled. Your moods are very changeable, and this can be quite obvious to others. Because of your emotional sensitivity, you might often take things too personally, and react too quickly. Developing an awareness that others emotions are just as important, even if they are not as overt and immediate as yours, will be important. You have a soft exterior and tend to relate very personally and sympathetically to other people. However, you sometimes let your emotions overpower your reasoning and logic, and consequently, you are sometimes biased in your opinions. You are impressionable and rather gentle, or at least that is the way you appear. Your feelings are on the surface and you can not hide your emotions.",
            "mercury":"You are mercurial in appearance or manner, especially if Mercury is close to (within 10 degrees of) the Ascendant. You are restless, adaptable, changeable, easily distracted, versatile, and nimble. While you enjoy talking, you might often monopolize the conversation or fail to listen (you might be too busy thinking about what you will say next to truly listen). You have a mischievous and even precocious manner. Lively and interesting, you quickly adapt to new situations. In fact, you treat most new endeavors with curiosity and great interest. Your first reaction to new stimuli is logical and curious rather than emotional.",
            "venus":"You are a likable, magnetic, attractive, and charming person whose heart is often on your sleeve. Unless Venus is very challenged, you are easy to befriend, diplomatic, and warm in self-expression. You tend to attract others to you quite readily, and rarely come on too strong or aggressively. Negative expressions of this position include a superficial charm, a tendency to play dumb when challenged or in doubt, and two-faced, passive-aggressive behavior. The need to be liked by others, and/or to keep the peace, might lead to feelings of resentment or general unrest if you feel that you give up your own power to others. You might find it difficult to make solid decisions. Your personal sense of style and manner are things that others find fascinating, and you generally pay great attention to how these things benefit you in life. With your natural charm and magnetic personality, you have a way of winning people over to your arguments. You are probably physically attractive and will maintain this quality well into your later years. You have a deep appreciation for art and enjoy surrounding yourself with beautiful objects. Your love life is very important to you, and you feel a lack if you have no partner in your life. Your appetite for life and for love is hefty, and you enjoy taking the initiative once you are comfortable with a partner. You are ever so charming and attractive, and absolutely hard to miss, no matter what you look like. Your head and face are your most attractive features! This is because your Venus is in the first house of Aries, a sign that rules this part of the body." ,
            "mars": "Mars in the first house of your chart is a commanding position and is even more so if Mars is also conjunct the Ascendant. Your reactions to new situations are immediate and pressing. You are an active, energetic, dynamic, enterprising, and possibly even forceful or aggressive person at times (unless Mars is in strong aspect to Saturn). You often begin new endeavors with enthusiasm, although follow-through may not be present, depending on the rest of your chart. Some of you might be rash, inconsiderate, or overly assertive. People are often impressed with your energy and stamina! You need to be involved, take the lead, and act independently. You do not enjoy following others or playing waiting games. Fiercely independent, you are usually direct and straightforward and this is wonderfully refreshing! Spontaneity is extremely important to you. Some of you might stir up trouble whether consciously or not when you are bored. Your approach to life is physical and active, and your love of competition is notable.",
            "jupiter":"You present a jovial, kind, altruistic manner to the world around you, generally beginning any new undertaking with optimism and faith. Your belief in the power of positive thinking takes you places. Generally speaking, you are a very principled person with strong morals.",
            "saturn": "The first house stands for the way in which an individual projects personal energies onto others. This house is fundamental in defining an individuals personality and Saturns presence here is particularly significant. Saturn in the first house people might have a stern exterior. People may comment, You look so different when you smile! When you smile the stern exterior drops. Saturns presence in the first house can make you more aware than others of right or wrong in a societal way. Responsibility will be a major concern in your actions. Demands from people around you will dominate your consciousness. You will probably find it extraordinarily difficult to place yourself ahead of others. Guilt and anxiety might haunt you over issues that others, without this influence, might not consider significant. This misplaced guilt and anxiety may create false sentimentality and attachment to surroundings to the point of neurosis. You are hard on yourself. Self-assertion at work and home might be stressful. Develop awareness about your guilt and anxiety attacks. Fight the guilt by thinking things through by yourself or with someone you feel comfortable with. To avoid the guilt and anxiety your best bet is to lay low and first let people around you articulate and take what they want and need. Then take what you want. It iss rather important for Saturn first house people to have spouses and partners who understand their self-assertion issue. An understanding spouse or partner will go a long way towards making life pleasant.",
        },
        "House2": {
            "sun": "Sun in the second house represents pride and ego-driven nature in native because of his family history, family lineage and family wealth. You take pride in what you own, and you have a strong drive for security. You will have authoritative, cultured and elegant speech as the second house is representative of vocal cords, and it will help him attract people to listen to him and follow him. YYou hate to let others down once you have made a promise. Avoid over-identifying with what you have. Concentrate on proving your worth through your strong value system and your incredible ability to stick with things and with people. You can be a leader or person in authority using your qualities of speech and dominance. You take pride in the  foundations that you build. You will be respectful to your father and the values he instils in you. You may tend to focus on showing off",
            "moon": "When it comes to money, you can be generous and frivolous in your spending habits one day, and frugal the next. You can be quite afraid of being in debt, and you need to feel that the bills are paid in order to feel secure and safe. This is likely also true of savings, as you fear being without. Still, there are times when you can spend impulsively, on a whim, and this is likely when you are feeling emotionally frustrated. You might also hold onto people quite tightly. Vanity can be an issue. You are often looking for admiration, and you can be quite dependent on others for positive feedback until you learn to develop your own feelings of self-worth. You are not as emotionally responsive as most people. You tend to hold back and wait before expressing yourself, and when you do it is with deliberation.",
            "mercury": "You have a very practical mind and intelligence, seeing the obvious, most logical answer to any predicament often well before others. You do not like to be put on the spot or pushed into talking or coming to a conclusion. Studies are similar you need to work at your own pace. You can be quite one-track minded at times, not very happy with multi-tasking, and often quite fixed in your opinions. Sensual stimuli is more relevant to you than abstract concepts.",
            "venus": "Tangible expressions of love and affection are important to you. Your tastes are usually simply extravagant, well-defined, strong, and something you are proud of. Some might feel you have a talent for finding items of value and good taste. You are attracted to items of quality. You may use generosity for your own benefit in other words, you might give gifts with expectation of reward. Some of you might be hedonistic and overly attached to winning admiration from a partner, at the expense of discovering true love. Your neck and upper chest are erogenous zones, and your voice is unusually attractive. You generally do not jump into a new relationship. If you do, your feelings grow gradually. A partner who makes you feel safe and secure is ideal for you. Once committed, your love is long lasting and sincere. You have strong values and others will find it hard to sway you in this area. Sensual, the world of touch and smell is most appealing to you. Complex or mysterious partners are not as intriguing to you as simple and genuine ones.",
            "mars": "You are likely to be a hard worker, although you appreciate the process and might be slower than some as you focus on the method and tend to each step deliberately and carefully. You love to produce things of practical value. With making money and acquiring possessions, you are ambitious but you might be impatient or impulsive when it comes to spending. You can be quite possessive, both of material things and of people. You like a physical challenge, and your physical abilities and energy make up a strong part of your sense of self-worth. Working independently is most appealing, or you value things most when you have achieved something on your own. The world of the five senses is most important to you on sensual and sexual levels. You have a hearty appetite with strong stamina. You defend your values fervently. ",
            "jupiter": "Others might think you are lucky with money, gifts, or personal possessions. In fact, you are extremely resourceful. You take great pleasure in comfort and the world of the five senses. Sometimes this position points to over-indulgence in these things. A strong self-image or feelings of self-worth contribute to success.",
            "saturn": "Traditional astrology interprets Saturns presence in the second house to mean a lack of or difficulty in getting real world possessions like money, cars, etc. Moving away from this fatalistic approach, we will try to personalize the meaning of Saturn in the second house for an individual. From a personality standpoint, the second house reflects your attitude to real world possessions. With Saturn in the second house, you might be unduly pessimistic about your own ability to get possessions. Avoid the pessimism. Then again, you might be overly cautious in the way you invest your finances. It will ll give you an example to illustrate this point. Saturn in the second house people are more likely to invest their hard earned money in low-risk treasury bonds than in the higher risk stock market. This may be good or bad, depending on how you look at it. Your investments will remain rock solid over the years, but will not grow as much if you had been more of a risk-taker! Given this risk aversion, is not it easy to spot why past astrologers might have taken that as an inability to gain wealth or possession? It is not so much an inability as simply an attitude. Awareness of this attitude can be your strength.",
        },
        "House3": {
            "sun": "The presence of Sun in the third house makes you extremely courageous and is overpowered by the courage. You need activity and a change of scenery often, or you feel restless. You take pride in your mental agility and your friendships. You are able to adapt quite easily to whatever environment you are in. There is a strong need to communicate your knowledge to others and to learn.  You have good hold on communication skills, and you are confident about it, which leads to be a dynamic speaker. Your curiosity is endless.",
            "moon": "You are very responsive, communicative, and curious. You can have a talent for imitating others and/or for picking up languages. You might either intellectualize your emotions rather than truly feel them and deal with them, or you communicate with excessive emotion. Some of you may do both at different times, and as you mature and develop, you learn to find a balance. Your opinions and ideas change often, and you might find that sometimes you adopt others points of view and express their ideas as if they were your own. This is not necessarily because you are a copy-cat, but because you sometimes fail to own your own thoughts, and you are so very sensitive to others opinions. You might be quite nervous and restless, requiring frequent changes of scenery, even if the movement or travel takes place locally.",
            "mercury": "This is an especially curious and inquisitive position for Mercury. You are generally very interested in reading, teaching, speaking, exchanging ideas, keeping current with the daily news, and perhaps gossiping. Your interests are many and varied, sometimes to the point that you barely skim the surface of any one topic. You are also very easily distracted and your attention span can be quite short. Quick to learn, you are swift to share what you know with others. You can be very talkative when you have the chance. You are a list maker, and you are likely quite involved in/with your community. Some of you can be quite nervous or fidgety.",
            "venus": "You are verbally expressive, diplomatic, and aim to be tactful. You easily win others over with your words, whether it is because of a likable facility with language, a beautiful voice, or a diplomatic use of words. You readily give out compliments. Some of you might use flattery to your own benefit at the risk of being ingenuine. You are generally a very good mediator, aiming to settle arguments quickly and restoring at least temporary peace. You have a mischievous side, however, and your desire to be tactful and polite with others does not always succeed. Some of you might engage in a lot of mind games, and others might eventually find out that you do not always mean what you say or say what you mean! You value mental stimulation and frequent changes of scenery in your love relationships.",
            "mars": "You speak your mind quite readily, sometimes shooting from the hip when it comes to expressing your ideas and opinions. You tend to know a lot about a variety of subjects, and like to share that knowledge with others (sometimes too forcefully!). When communicating, you are generally very direct and clear. You can easily get worked up about what others might think are trivial matters. You love a good debate. Whether you know it or not, or no matter your intentions, you can be provocative in your communication style. You are likely gifted with manual dexterity, although you might easily become impatient with tasks. At your best, you are enthusiastic, animated, and lively in the way you express yourself, and this can inspire others. You will fervently defend your opinions and beliefs, as well as your family and childhood. ",
            "jupiter": "You are forward looking a real planner. You are endlessly curious and enjoy making happy connections with others. Sharing ideas with others is important to you, you take great pleasure in doing so. You are able to see the big picture and thus often are turned to for advice. With your sincere interest in others, you easily put people at ease in social situations.",
            "saturn": "The core meaning of the third house lies in the unconscious operating of the mind in familiar surroundings. The third house indicates the natural way you act and communicate with people. People might include your siblings while growing up, co-workers, neighbors, the grocery store clerk, and so on. You can review the way your mind works in these circumstances. In that sense, it is not unconscious. The comedy serial, Seinfeld, explored the quirkiness in individual actions and communication in familiar surroundings — the little things that people do and say unconsciously that make them what they are! Yes, the serial about nothing was funny. Saturn in the third house may make you feel ill at ease while you go about day-to-day life. You may come across as cold and reserved. You may be a man or woman of few words. This can turn some people off. You can use this to your advantage by listening to people. That way you do not have to do too much talking, yet people will love you for listening!",
        },
        "House4": {
            "sun": "Sun in the fourth house will make your life infuenced by your mother. You spend much of your time into your personal and private life, your home, and your family. Sun in the fourth house signifies the absence of your fathers influence and energy on you. Privacy is important to you. You are naturally protective of your family, including your heritage, and of your personal life. You face struggle and hardships in your career till mid 30's, and with your self-efforts, you will achieve success. Avoid being defensive as you work to build a secure foundation for yourself and the people you love.",
            "moon": "You long for a sense of true belonging, but you may be quite restless in your search. You might change residence frequently, or simply feel the need to make many changes in your home. Moving frequently may be a healthy thing if it keeps you emotionally stimulated, but if you find that you do so on whims and later regret the changes, you might want to treat it as a symptom of emotional unrest as a sign that you are in a constant search for the perfect mood and setting, when in fact a feeling of belonging should be worked on from the inside out, not the outside in! Some of you might remain rather immature on an emotional level, never wanting to truly grow up and take care of yourself. Attachments to your past, traditions, and family are strong.",
            "mercury": "You are an extremely imaginative person who dreams up all sorts of unusual ideas and plans. Your thinking is quite subjective, and in some cases narrow or biased. Some of you might enjoy working at home or keeping a lively, intellectual atmosphere in your home. You tend to retain a lot of information, and are usually quite interested in history, psychology, or politics. You are not quick to embrace a new idea or plan, and can be quite traditional in your thinking.",
            "venus": "You seek balance, beauty, harmony, and peace in your home and domestic life. You might be especially attracted to luxury or quality/comfort items in the home, and you likely have an eye for interior decorating. There is a loving, personal touch to the way you decorate your home. Your love is decidedly sentimental, and you show your affection through nurturing and displays of sympathy. You do not give your heart out easily, but when you do, you do it with great emotion. It is very easy for you to become attached to a partner, and possibly smothering or overly dependent if you are not careful. Your parents marriage affects your own partnering skills and style more than most. A parent may be especially charming, beautiful, or otherwise Venusian. On the negative side, this parent may have been especially indulgent or overprotective with you.",
            "mars": "You are fiercely protective of your close friends and family. Anger may be deeply felt and possibly deeply buried, and it can be very hard for others to uncover your true motives. You might be passive-aggressive in your approach, which could lead to resentments if you are not careful or confident enough to take a more direct approach to getting what you want. Family dynamics are lively and often intense. Regarding family members, you may frequently have arguments with them, about them, or on their behalf! You are likely to possess much energy for domestic projects or activities. Your actions are often governed by your instincts, and you do not appreciate being manipulated or forced into doing something that does not come from your gut. You might attempt to rule the roost on the home front, or you often take on a leadership role at home and with family.",
            "jupiter": "Your strong instincts tend to guide you, particularly on a professional level. You readily make warm connections with others, particularly valuing your family and close loved ones. Old age is expected to be pleasant and rewarding. Strong morals were reinforced in your childhood. You dream of, and will usually attain, a large or spacious home. You likely feel that happiness is home.",
            "saturn": "The fourth house indicates the way you relate to your family, both as a child and adult. It indicates your attitude to giving and receiving mothering or nurturing. Saturn in the fourth house can limit the nurturing that you yourself are capable of. Your style of nurturing may come across as slightly cold and impersonal. You might remember your childhood as one that lacked warmth and affection. Saturns influence adds a sense of responsibility to fourth house functions. One might feel the need to nurture more than most, perhaps to overcompensate for their own feelings of being neglected. The truth is mothering and nurturing can be fun! Saturn might take away that element of fun and make it a chore. Do not let that happen to you. Recognize your style and make up your mind to enjoy yourself! In a broader sense, the fourth house extends to the community, home town, and country. With Saturn influences, you will choose to be quietly patriotic and loyal.",
        },
        "House5": {
            "sun": "Sun in the fifth house magnifies everything in your life. You want to be noticed for your unique and special qualities and your creativity. Sun in the fifth house make you bold and confident in your abilities. You are happiest when you are expressing yourself in a special way and attention comes your way as a result. Because of Sun in the fifth house you will be interested in politics, art, creativity and culture, and you are expressive of the love he possesses for these activities and aspects. You have a flair for drama and/or sports. You are proud of your fun-loving attitude towards life. Your happy disposition is enough to get noticed, but do find creative ways to express yourself, as this is the path to true happiness for you.",
            "moon": "You love to share emotional experiences with loved ones and have a flair for the dramatic. Love affairs are magnetic and intense, and you do not take them lightly by any means, although you may go through much change with regard to your romances. You are attached to children, whether they are your own or not. Your creative hobbies are subject to relatively frequent changes, and you have innate artistic talent. You have a vivid imagination and are given to daydreaming often. There is a sense that you are always in touch, or trying to get in touch, with your inner child. If the Moon is challenged, you may have problems with impulsive shopping or gambling, or with frequent love affairs that never fully satisfy you. In any of these cases, you are more attached to the game than the player, and this is something to work on if you are looking to find true fulfillment. You might take risks just for the fun of it, but in the process, you are being irresponsible to others and to yourself. You are emotionally expressive and often dramatize your feelings, acting them out or blowing them out of proportion. You can not hide your instinctive emotional reactions to people or situations, and you do not make any pretenses about your personal sympathies or antipathies. You have a childlike openness and playfulness which is very appealing to others, but which sometimes gets you into trouble, as you take risks on impulse or whim.",
            "mercury": "You tend to use your voice, whether written or spoken, as a means of creative self-expression. You can be witty and humorous, an engaging communicator, and a fun friend. Playing games is appealing, especially ones that employ your intellect. You love tricks, jokes, plays on words, and mimicry. It is possible you are skilled at impersonations. Some of you could be clever at lying. You can have a tendency to promise more than you can deliver, or overstate your case. In some way, you are very entertaining with the spoken and/or written word. Communication and intellectual rapport are most attractive to you with romance. In some cases, this can indicate more than one lover at once. Curiosity can be a strong motivator for making social and romantic contact. You might also take much pride in your childrens intellectual abilities and talents. You would make a good teacher, as you are very curious about how people learn and can come up with many ideas that allow you to teach others creatively.",
            "venus": "Interest in romantic connections may have started young. Playful, sensual, and amorous, you are in love with love! You thrive on romantic attention, and it is easy and natural for you to always have a crush or romantic interest. There is a romantic, playful side to you that is unmistakable. It keeps you young at heart! You are sensuous and enjoy indulging in the pleasurable senses to the fullest possible extent. You enjoy surrounding yourself with beautiful art and music, and these may play a role in your ideal date scenario. There is a touch of the dramatic in you when it comes to love and sex. You are generally quite loyal to your partner, and you are both charming and easily charmed. It is also easy to turn your head. You are a warm, fun and playful date.",
            "mars": "You have a strong love of pleasure, and you tend to directly and perhaps impulsively pursue romance. Many of you are sports lovers, and anything with an element of risk appeals to you or entertains you. You put a lot of energy into the pursuit of entertainment, satisfaction, games, and pleasure. Possibly a very active hobbyist, you want a passion project that excites you. You tend to be very playful and demonstrative, and you could really enjoy putting on a show. In truth, you can be very competitive. Your children, and especially a first child, may be especially active and boisterous.",
            "jupiter": "You are generous, playful, and warm, particularly with children and in your romantic life. Prosperous areas for you tend to be creative ones, entertainment, children, and recreation. You are talented at teaching, showing patience and love for the learning process and those learning.",
            "saturn": "The fifth house is the house of play and self-expression. Saturns influences in this house compare in importance to those in the first house. The fifth house is all about spontaneity. Saturn seriously impedes spontaneity. You might be recognized as the party pooper or a bad date. Don not let that happen to you! Individuals with Saturn in the fifth house might find it difficult to play or do fun things. Saturnine guilt and responsibility might make you search for a good reason to have fun. All work and no play might stress you out to the point of neurosis. Recognize that you do not always need a cause to relax and enjoy life. Better still use this influence to your advantage. Get into an activity like raising money for a charity. That way you have a cause and the fund-raising events can be turned into fun occasions. While dating, allow your date lead you a little. If your date happens to have a fifth house Saturn then you have nothing to worry about. The two of you may hit it off discussing the ramifications of the ozone layer depletion on your first date. If your date does not have Saturn in the fifth then he or she might have other ideas about ways to have a good time!",
        },
        "House6": {
            "sun": "Sun in the sixth house makes you surrounded by competitive people in your work environment or everyday life. The work that you do, and the services that you offer, are very important to your sense of identity. Sun in the sixth house will show its positive effects with growing time, after the age of 35. Focus on finding a suitable and rewarding avenue for expressing this part of you, being extra careful to choose an occupation in which you can express yourself. You are sensitive to criticism about the work you do, and you work best when you can create your own schedule. Positive feedback for the services you render is important to you, but be careful not to over-identify with the appreciation you receive from others, as your work and your health suffer when you feel under-appreciated. Motivation to do a good job should come from within.",
            "moon": "You have an emotional need to be useful, to work productively, to be organized and on top of things, and to lead a healthy life. If these matters are chaotic in your life, it is a symptom of emotional unrest. You need a lot of variety on the job to be stimulated and engaged in order to feel happy. Some of you might seem to change jobs often, forever in search of the perfect fit job. Acceptance that any job requires some level of routine is hard for you. You are very sensitive, and especially aware of minor health annoyances or body aches and pains. Some of you have hypochondriac symptoms. Some attempt to get out of things they do not want to do by emphasizing health problems or even exaggerate illnesses in order to gain sympathy. At your best, however, you are a person who always helps out and shows your affection for others in practical ways in order to help them solve problems and improve their lives. You have a sympathetic nature and instinctively reach out to people in need of help. You also have a deeply ingrained tendency to want to improve or fix other peoples lives, which can be annoying to the person who has no desire to be changed or helped in this way. For you, affection and caring must be expressed in tangible acts or service of some kind.",
            "mercury": "You are a person who thinks of all the details that others often forget. Your mind is almost always turned on which can make you a little nervous. You are excellent at sorting things out, organizing, and making lists and associations. With your attention to the details and the mechanics, however, you might miss the bigger point! You are exceptionally helpful and others can count on you for making arrangements, researching, and offering advice. You truly love to feel useful. It is possible you have some traits of a hypochondriac, as you notice all of the little aches and pains that others might overlook. Nervous tension could be at the root of many of your health complaints. You might frequently have to deal with duplicitous co-workers. Many of you are good at crafts, mechanics, or anything that requires good manual dexterity.",
            "venus": "Your expressions of love and affection are practical and helpful. Being of service to a partner is especially important to you. In fact, you might go to great lengths to be available at all costs to a loved one. While you may not be flowery or showy when it comes to expressing love, you show your love by your availability, rendering services, doing practical things for a loved one, and other thoughtful little things. Many of you are talented at design work, as you appreciate and pay much attention to all of the little parts that make up a whole, with the goal of finding order and harmony in these systems. If you are not careful, you might pass up on true love opportunities in favor of relationships that serve a practical purpose in your life, or out of fear that you might not find better. Selling yourself short may be something that keeps you from going after what and who you want.",
            "mars": "You tend to work hard, sometimes to the point of exhaustion! You put a lot of energy into your work, and would do best working for yourself or for someone else but independently, as you can quickly become impatient if other members of a team are not working as fast as you. You are also easily upset with procrastination. You can be very skilled at organizing and re-organizing, sorting, classifying, and analyzing. You put a lot of energy into any job you do, and you can easily become riled up or defensive if someone criticizes or intrudes upon the work that you do. ",
            "jupiter": "You have high standards in your business dealings with others, believing that one should always treat others with respect and faith. This may mean missing out on business opportunities in the short term, but others tend to build faith in your honest approach in the long run. You may help those less fortunate than you. Attraction to rich foods may be a problem in your life. You generally take great pleasure in the work you do and in being useful to others.",
            "saturn": "Saturn is most comfortable in the sixth house. This house rules your attitude to work, service, and your body. The sixth house is the house of self-denial in the sense that you put off pleasing yourself. It symbolizes activities that you pursue not to please yourself, as in the fifth house, but for another purpose. Working to make a living is a good example. This activity doesn&lsquo;t necessarily please you but you do it anyways from a sense of responsibility. In that sense the sixth house is Saturnine. When Saturn happens to be in the sixth house of your natal chart you may very well be a workaholic. You may forget that you are working only to make a living. You may fall into the trap of living to work! Avoid doing this. In any case, you will have a strong sense of responsibility in your attitude to work and you will take service to others rather seriously. You may be overly concerned about what you feed yourself and spend time worrying about the food habits of your loved ones. All the sixth house functions are over-emphasized — a double whammy!",
        },
        "House7": {
            "sun": "You take pride in your ability to negotiate and to establish harmony in your relationships. It is important for you to have a partner, as you feel incomplete without one. You are motivated to become well-liked, and you are especially sensitive to rejection.",
            "moon": "You are drawn to partnerships and prefer to have a companion for emotional support. You are not a person who would happily take in a movie by yourself, or dine alone, for example. A partner awakens feelings in you that you may never know you had, and you seem to need a partner to learn about your own needs and feelings. You seek emotional fulfillment through relationships, but you may have many relationships one after another, each time believing that this is the one. Taking time between relationships is something that is hard for you to do, but quite necessary, as you tend to jump into relationships out of fear of being alone. You are very adaptable to others needs, and usually quite likeable as a result. Be careful that you do not become overly dependent on a partner, or assume that a partner is going to treat you the same way as you do them. You depend a great deal upon other people for emotional support and you have a large family of friends that care about you and treat you as kin. The women in your life are particularly important to you, and your relationship with them powerfully influences your sense of security and happiness. You may be overly dependent and unsure of yourself without a close partner",
            "mercury": "You have a great love of debate, if only to get closer to your own thoughts and opinions. Bouncing ideas off others helps you to make a decision, although coming to definite conclusions can be painfully difficult for you. You see the other side of the coin, but you might often play devils advocate. Communication with a partner is craved, and you also love an audience for your own thoughts and opinions, but preferably a one-person audience, as you come alive verbally when it is one-on-one. You can be quite skilled at keeping a partnership animated and alive with interesting tidbits, new ideas, and stimulating conversation. It is easy for you to become bored in partnership if the lines of communication go down, even temporarily. You might attract partners who are not especially sincere or downright duplicitous. In order to put an end to this pattern, you might try to avoid scheming and overanalyzing in your relationships. You might also love to talk about and analyze relationships and marriage. You get off on new perspectives that partners or good friends give you.",
            "venus": "You live for relationships. It is hard for you to think about being alone. Harmony is most important to you, so it is unlikely you will attempt to dominate a lover. You are a peacemaker, sometimes going to great lengths to achieve a balanced, harmonious relationship. Be careful not to bend over backwards just to keep the peace, you may be taken advantage of. Your marriage partner may be especially attractive, charming, or well off. You are extremely attractive, agreeable, and charming, drawing others to you magnetically. You need an unusual amount of contact and exchange with a partner, and might find that you feel completely lost without one. Some of you might quickly enter into partnerships, perhaps too quickly and neither equipped nor prepared for the responsibilities that a long-term relationship demands. In some cases, there can be a shallow or materialistic interest in partners. Your hips and lower back may be special erogenous zones for you, or they may be especially attractive body parts.",
            "mars": "With Mars in the seventh house of your natal chart, you need a partner who challenges you, and your close personal relationships can be especially passionate, active, or physical. You may be drawn to people who are more assertive or aggressive than you. Alternatively, you find/discover your own assertiveness through a special someone. There can be a marked impulsive tendency in your one-to-one relationships. Certainly, you need your connections to maintain a high level of passion and energy. You can be particularly good at mediating, counseling, troubleshooting, debate, politics, or working with the law.",
            "jupiter": "Cultivating close, rewarding partnerships is important to you. You are talented at negotiations, believing strongly in fair play, and you are excellent at mediating conflicts. Legal matters may be fortunate for you. You value people and relationships, and might succeed best in partnership. Relating as equals is important to you. You might naturally use charm and grace to reach your goals.",
            "saturn": "Saturn is most comfortable in the sixth house. This house rules your attitude to work, service, and your body. The sixth house is the house of self-denial in the sense that you put off pleasing yourself. It symbolizes activities that you pursue not to please yourself, as in the fifth house, but for another purpose. Working to make a living is a good example. This activity doe snot necessarily please you but you do it anyways from a sense of responsibility. In that sense the sixth house is Saturnine",
        },
        "House8": {
            "sun": "You have a great urge to go farther or deeper into life every step of the way. You want to experience more, and your desires are both powerful and intense. It is hard for you to find satisfaction in common experiences, and you have magnetic power if you choose to use it wisely. You are fascinated with what lies under the surface, and at some point in your life, self-improvement is a big interest. You are attracted to unexplored or taboo areas of life, and you avoid all things superficial.",
            "moon": "While you have a strong need for emotional security, you are also a person who is drawn to pushing your own limits, and many lifestyle changes can be the result of this need to challenge, or reinvent, yourself emotionally. You are always fascinated with how people work, taboos, secrets, and all that is forbidden or hidden. Sexual unrest, or an apparent need to constantly change sexual partners or to challenge yourself sexually, may be a symptom of emotional insecurity. Connecting with another person intimately is an emotional need, but your changeable emotions might often get in the way of your goal. Jealousy and possessiveness might also be qualities you struggle with. At your best, however, you are a person who is intimate, deep, and intensely loyal to a partner.",
            "mercury": "You are especially curious about what motivates people, as well as all that is mysterious, taboo, secret, and psychological. You are excellent at analyzing people and getting at their motivations, as well as developing strategies. You may have a good mind for finances, medicine, and other subjects that require research and investigation. With your strong persuasive powers (which should be used carefully), you speak with authority and others listen. You tend to feel that everything we do and experience has a purpose. You have a great, investigative, and penetrating mind and you are excellent at developing strategies, as well as communicating them with others.",
            "venus": "Intensity is what you seek in your love relationships, so that casual encounters are not necessarily your game. You are easily bored with mechanical interactions between partners, and might prefer drama in your relationships to anything mundane or superficial. However, you also fear being vulnerable in love, and, in youth, you may control your emotions in love. Fears of being betrayed may be at the heart of your somewhat jealous and possessive nature in love. When you give yourself over to love, you love wholeheartedly and expect all-consuming, total devotion and attention in return. You find passion a healing force in your life. Your charm runs deep just below the surface. You are attracted to all that is taboo, hidden, forbidden, and find beauty in the broken, disenchanted, obsessed, and passionate. In some cases, people with this position might make a business out of love, romance, and eroticism. There is an intensity about you that others pick up readily. Either they run or they are completely intrigued!",
            "mars": "With Mars in the eighth house, shades of the sign Scorpio can be found in your desire nature. You may not experience true passion until later in life, but when you do, it is magical and infectious. You have some fears of betrayal and loss that compromise your trust from time to time. You can be extremely hard-working on projects that interest you, and you make a fabulous researcher, investigator, or psychologist. Passion projects are vital they can get you out of bed in the morning! Your intuition is powerful, although it can take some time, experience, and psychological work to overcome a vague sense/feeling of guilt, fear, or doom. Your survival instinct is powerful. There is a tendency to bury things or to keep many of your troubles to yourself. Learning to express your anger more directly can improve your health and well-being.",
            "jupiter": "You are talented at strategy, research, and investigation. Getting to the root of any problem is important to you as you instinctively feel that this is where the answer lies. Similarly, you take great pleasure in unraveling mysteries and solving complex problems. You are naturally giving to a partner, both emotionally and materially. Taboos do not easily shock you.",
            "saturn": "Traditionally, the eighth house was recognized as the house of death. Saturn in the eighth in a natal chart would mean a horrible death. Modern day astrologers have moved away from that line of thinking. Today we think of the eighth house as a house of resurrections. The eighth house symbolizes transformations through growth and change. As an individual, you might need to re-invent yourself from time to time. The eighth house is opposite the second house, which symbolizes your attitude to possessions. In that sense the eighth house stands for your attitude to giving up relics of the past, so you can grow and change. Saturn in the eighth house can be a powerful influence. This influence will make you simply resist transformations, change, and growth. You will find it very difficult to accept changes in your life. Any change will be stressful for you, bringing in anxiety and worry. Be aware of this influence. Understand that change is something that you do not react to well. Prepare for change. Take time to chart out a course or action plan whenever change is imminent. Read a book on managing change in your life or at work. Change, if managed well, can make your life richer and better.",
        },
        "House9": {
            "sun": "You have a deep need to understand the world around you. You have high ideals and you have your eye on what is on the horizon. You are looking ahead, and at times can seem quite restless. You are proud of your knowledge and your morals. Be sure to avoid self-righteousness in your enthusiasm to share your knowledge. When used correctly, you are a tolerant, adventurous, and curious person, and you want to see the best in people and in life.",
            "moon": "This is a position that can indicate a deep longing for stimulation above and beyond the everyday, mundane routine. You are a philosophical sort, interested and curious about the world, other people, and perhaps different cultures. You can be extremely restless and discontented if you do not have a definite goal in mind. You might find yourself longing to be somewhere else when you are unhappy, imagining that if you were to move or travel, you would be much happier. However, this attitude can only keep you from enjoying and improving upon the situation you are now in, only serving to make you feel more unhappy in the present and with your current circumstances. Trying to avoid the attitude that the grass is greener on the other side will be important, while attending to your needs to get away from time to time will help scratch the seemingly incurable itch for something more. You may have done extensive traveling in your early years, or in some way had a background which enables you to understand and identify with many different types of people or cultures. You have a craving for things which are far away and foreign or for things you have never experienced before. You want to completely immerse yourself in the feelings and tastes of a new place, rather than simply have facts or an intellectual appreciation. Emotionally, too, you are restless and something of a wanderer.",
            "mercury": "You are eternally curious and hunger for knowledge. You enjoy studying and learning, and do it not because you have to, but because you want to. Exchanging ideas and personal philosophies with others is gratifying. You can be especially buoyant, enthusiastic, and even inspiring in your communications. While you may not pay enough attention to details, you are skilled at finding a quick solution to problems. You readily see the bigger picture and enjoy sharing your opinions and ideas. You get off on how information affects peoples lives, and you take great pleasure in learning that something you have shared or taught has inspired others to take action, experience something new, or make changes in their lives. Some of you might be too quick to offer advice, however, that might be lacking in thoroughness and practicality, or that you yourself do not follow. You may be especially interested in learning about different cultures and lands.",
            "venus": "You are attracted to, or you tend to attract, people of different cultural backgrounds. A sense of adventure is appealing to you. You are not especially clingy, and you expect a certain amount of freedom in a partnership. You want to feel like you are growing as an individual, and you wwill not be happy in a relationship that is restrictive or confining. In fact, you have a great love for the feeling of freedom or limitlessness. Your hips and thighs may be especially attractive! You appreciate a lover who is enthusiastic and not afraid to have a good time (with you!). You aspire to high ideals in love, but some of you might pursue sensations in love rather than true or deep feelings and attachment. Beware of a tendency for dissatisfaction with what you have, as the tendency to think that the grass is greener elsewhere can keep you from enjoying or developing what you have.",
            "mars": "You enjoy a healthy sense of adventure and adore a rousing debate or the challenge of learning new things with your Mars in the ninth house. This position has a Sagittarian flavor. Watch for a tendency to become angry or hurt if others disagree with you, as it can be all too easy to take differences of opinion very personally. As well, in your enthusiasm to uncover truths, you may be a little too pushy. You are sexually playful and energetic, and you may approach sex as a sport at times. Honest and sometimes downright blunt, others find your sense of humor and direct approach attractive. Your hearty laugh is appealing, and your zest for life is unmistakable. You can be mentally restless, and at times, physically too, as you seek new horizons to explore and experience.",
            "jupiter": "You are always hungry for knowledge and wisdom. With your naturally philosophical nature, you enjoy sharing your opinions and knowledge with others. You can be a natural teacher, and you love the learning process. Freedom of movement and expression are crucial to you. You can easily be inspirational, and find success in travel, education, teaching, sports, publishing, and foreign cultures.",
            "saturn": "The ninth house signifies ideas, philosophies, and rationalizations of the conscious mind. It opposes the third house which governs the unconscious mind. The ninth house, therefore, governs the functioning of the higher mind — those thought processes that define us as humans. Mind expansion is a basic ninth house function. The ninth house signifies an individual&lsquo;s personal philosophy of life, perception of the reality of life, and reaction to new ideas. Saturn in the ninth house indicates a practically minded individual. You are unlikely to take to flights of fantasy or fancy ideas. You might even be closed to new ideas. Your thinking might be overly closed and conservative. Don&lsquo;t close your mind! Be aware that while practicality is a great quality, the world needs people to come up with new ideas in order to move forward or even keep going. Don&lsquo;t dismiss ideas too quickly and don&lsquo;t be threatened by them. Instead, adopt a constructive attitude. Tell yourself and others that you can be practical in your thinking. And, that is an asset. At the same time, encourage people around you to think and act out their ideas and philosophies. You can be close-minded and mean, or the sane anchor of practicality for the creativity around you. The choice is yours!",
        },
        "House10": {
            "sun": "The urge to work toward a goal, for success and accomplishment, and/or for power is part of your makeup. You are uncomfortable in any position in which you must take orders from someone else. Recognize your ambitions and your need for authority without going overboard. Seek out a career that allows you to manage, rather than be managed, if possible. It is crucial that you accept the part of you that is ambitious, but take pains not to over-identify with an image that is not really you!",
            "moon": "This position of the Moon indicates an emotional need for recognition, popularity, acknowledgement, and achievement. You can be quite charismatic. You are at your emotional best when you lead a structured and responsible life, but it can take time to get there. You may change your goals and ambitions, and/or your profession frequently in an attempt to find the perfect fit. You may worry about living up to your image, or the expectations of your family. Decisions may be too emotionally biased, or you might act on emotional whims far too often. Learning to set your own heartfelt goals is the challenge here, as it is unlikely you will find true happiness if you follow or adopt the expectations of others, which you are especially sensitive to. You work well with the public and have an instinct for what the public wants and will respond to. Having a nest is not especially important to you, and you may invest more of your emotional energy into your career or public life than in your private life. Providing for and caring for others in a professional capacity is very likely.",
            "mercury": "You are good with language, and you generally use this talent in your profession. With your authoritative air, or you are talented at communicating and negotiating with those in authority. You might have more than one job going at once much of the time, you could change your career directions frequently, or you could be attracted to jobs that keep you on the move. You require frequent changes of setting or activities to remain stimulated and challenged. You are skilled at bringing fresh energy to your conversations or to your job, perhaps because you need the stimulation.",
            "venus": "Others tend to respect you for your charming manner, and you have many admirers, although some of these are admirers from afar, as there is an aura about you that is charming yet strangely (and intriguingly) distant. You have a great need to be recognized or admired for your charm, beauty, or loving manner, but should be careful not to become too wrapped up in what others think of you, as you might come across as phony or superficial. Some people with this position are married to their work or to their image. You are good at making contacts and organizing social events.",
            "mars": "An urge to organize and to be practical can amount to a minor obsession with this position! Your career motivation is constant and relentless, and people in your life need to respect your independent drive and focus. You are task-oriented, and you are at your best and most effective when you are in control of your time. In your relationships, you may often take the lead when it comes to organizing activities. With Mars in the tenth house, you can be quite driven, goal-oriented, and competitive. You thrive in careers in which you can pioneer, take the lead, or enjoy a certain amount of freedom or independence. You are a self-starter! You also need to be active and dominant in your field or profession. More interested in pursuing your goals than gaining others approval, you can certainly create some waves in your life from time to time.",
            "jupiter": "You readily take charge and use a winning, kindly approach while doing so. Others might see you as lucky when it comes to your career and business opportunities. It is natural for you to excel, and if others help you along the way, it is probably because of your winning attitude. In truth, you are ethical, mature, and resourceful. You value achievement and manifestation, as well as those who take responsibility for their lives. Position or status can be quite important to you.",
            "saturn": "While the sixth house rules work, the tenth house rules the work that you identify with. In the context of home and family, the tenth house signifies your attitude while playing the fathering role. Saturn in the tenth house makes you take your fathering responsibilities seriously. You will be concerned with the development and growth of your child in real world terms. At work, you may have the desire to lead or guide co-workers. In any case, you will take your career or chosen profession more seriously than most. Both at work and home, your teaching or leadership style will be based on practical aspects of life. You are acutely aware (more so than most) of your place and role in society. You may feel like you are under a magnifying glass, so to speak, when it comes to the path you choose to take in your career or in the roles you take on. Defensiveness and self-consciousness about your importance in the material world can result. A rather conservative approach to life is often adopted, which may or may not conflict with your more personal aspirations. You will shoulder immense responsibilities with ease. This might not always work for you. Take care not to take on too much at a time. If you feel overloaded with responsibilities,  delegate some!",
        },
        "House11": {
            "sun": "You are a humanitarian who aims to treat everyone as equals. You seek to be unique and original, and you do your best to avoid bias and prejudice. Social status is less important to you than belonging to a group of diverse personalities. Your identity, in fact, is somehow linked to a larger unit than yourself. You have high hopes and goals and tend to look at life in terms of opportunities. You have magnetic appeal, as people sense your broad tolerance and openness. The friendships you establish are crucial to your development. If you identify too much with your friendships and your friendliness, you may become too impersonal and alienate those who would like to get close to you.",
            "moon": "This position of the Moon indicates an emotional need for recognition, popularity, acknowledgement, and achievement. You can be quite charismatic. You are at your emotional best when you lead a structured and responsible life, but it can take time to get there. You may change your goals and ambitions, and/or your profession frequently in an attempt to find the perfect fit. You may worry about living up to your image, or the expectations of your family. Decisions may be too emotionally biased, or you might act on emotional whims far too often. Learning to set your own heartfelt goals is the challenge here, as it is unlikely you will find true happiness if you follow or adopt the expectations of others, which you are especially sensitive to. You work well with the public and have an instinct for what the public wants and will respond to. Having a   nest is not especially important to you, and you may invest more of your emotional energy into your career or public life than in your private life. Providing for and caring for others in a professional capacity is very likely",
            "mercury": "You are endlessly curious about people, group interactions, community affairs, trends, and teams. You are attracted to people who bring new ideas into your experience, and who have something novel to contribute on an intellectual level. You are very forward-looking and fair-minded. Fair play, impartiality, and unselfishness are important ideals for you. There can be many changes or fluctuations in your personal wishes, dreams, plans, and ideals. You might attract friends who come and go, or who are dishonest or duplicitous.",
            "venus": "The friendship level of your relationship needs to be genuine in order for you to sustain romantic interest. You tend to focus on a person&lsquo;s unique qualities — those traits that make him or her stand out — as the most attractive. Your relationships must possess some kind of unconventional element in order to keep your interest levels high. Calves and ankles are either erogenous zones for you, or parts of your body that are particularly attractive! You may meet lovers through group activities. Although you value friendships and group affiliations highly, you might jump into friendships without considering the responsibilities they might entail.",
            "mars": "With Mars in the 11th house of your natal chart, you like to organize events and activities, and sometimes take the lead a little too often! However, for the most part, you&lsquo;re an engaging, helpful friend who is ready to jump in and take action when need be, and this is a wonderful, rare quality. Your mind needs to be engaged in order for you to be at your most passionate, and for this reason, you can seem a little detached or impersonal in close personal relationships. You&lsquo;re not afraid to be different or to march to the beat of a different drummer. It is likely that you enjoy working towards an important cause, and you can be quite a crusader! You may be attracted to intense, passionate, or energetic people, and your friendships can be quite colorful and possibly strife-ridden at times.",
            "jupiter": "Your social life means a lot to you, and you take great pleasure in connecting with your friends as well as involvement in teams and groups or with your community. Friends tend to benefit you, they can be influential or otherwise very helpful. You are altruistic by nature, and you especially value people and personal freedom. You are very open to new methods and progress, and you display great tolerance and humanitarianism.",
            "saturn": "One-to-one relationships are a seventh house function. The eleventh house is best understood as one that governs an individual&lsquo;s one-to-many relationships. This implies your relationship with friends, extended family, and the organization you work for, and so on. Saturn in the eleventh house, therefore, works much in the same way as in the seventh (read Saturn in the seventh), except that the nature of the relationships are different. You may find socializing tiresome and prefer to stay alone. Many people with this position feel some disdain for the superficial workings of casual friendships and of the group — that is, they feel uncomfortable and self-conscious about going through the motions, doing and saying the right things, and so forth. At the root of this perception, there may be a fear of failure in a group setting. It may be easier to fall back on, and take too much pride in, your uniqueness as an individual rather than submit to the idea that you belong and identify with a group. It can be a fear of being ordinary or just part of the crowd that prevents you from loosening up in social situations. The fact that you take friendships more seriously than most can give you a heavy sense of responsibility and reluctance to form ties as if you somehow sense that forming them will burden or obligate you too much. Staying alone might seem to be a better use of your time. Watch out for this. A deep-seated feeling of loneliness and separateness may be the result. Take time to personalize your social interactions. Since you find group activity uncomfortable, develop a few good friends to hang out with. You have a greater capacity than most to be a loyal and long-standing friend! Beyond friendships and groups, the eleventh house is associated with our long-term goals, hopes, and dreams. Saturn here can make you just as reluctant to commit to any one life path, and to articulate or define your innermost wishes, as you are to attach yourself to a group identity. It is as if doing so would be too binding and revealing. When you learn to identify and overcome your fear of failure, you will discover that this fear has been the only thing holding you back from defining and working towards your dreams.",
        },
        "House12": {
            "sun": "You have a tendency to be introspective and need some space and seclusion in order to pull up your strength. You may avoid the spotlight, and if you do find yourself in a public role, you tend to hide your true self behind that role! Because your will is directed inwards, you need to find a path for yourself that allows you to get away from it all at least some of the time. Honor your need to be alone with yourself, but avoid over-identifying with your inner world to the point that you truly feel alone in a crowd. You shine when you serve others in some way. Your compassion sets you apart from others, but try to work with it rather than let your compassion work against you by reinforcing your own sense of loneliness.",
            "moon": "This position of the Moon indicates an emotional need for a feeling of belonging with, and support from, friends and associations with groups. You look to acquaintances for support, and offer the same in return. A changeable or unstable social life might be a reflection of inner emotional unrest. Waxing and waning feelings for others can cause problems in your relationships. You are a person who is filled with many dreams, wishes, and hopes for your future, and most of these are altruistic and good-hearted desires. However, you might change your aspirations frequently, with your changing moods, and have a hard time settling on goals to work towards as a result. You get a lot of emotional fulfillment through your involvement in groups, clubs, organizations, community activities, or a network of close friends who support and care for you. You make friends your family, and feel a close kinship with people who share some ideals or beliefs that you hold dear. You need people outside of your physical family to relate to and belong to.",
            "mercury": "You are not very quick to speak or communicate, especially in childhood, as you need to develop trust in your own abilities to express yourself. You make an excellent confidant, you are very discreet and secrets go into the vault. Making matters too complex comes from overanalyzing motives or hunches, and then have problems acting on your intuition as a result. You are very attracted to symbols, sentiment, imagery, and paradoxes. Preferring not to focus only on facts, you learn best when ideas are presented visually, emotionally, or imaginatively. Learning to communicate clearly is a challenge for you, but one that might put an end to feelings of guilt, of being misunderstood, and to attracting unpleasant situations or duplicitous people into your experience.",
            "venus": "You are big on romance and you tend to live and breathe your partner once you are hooked. Not the best at defining your boundaries — where your needs and your partner&lsquo;s needs separate — you can get hurt in love rather easily. You can also feel used quite readily. You are attracted to people from all walks of life, finding a partner who has an unusual background or quirky personality most attractive. Partners who mistake your compassion for weakness can take advantage of you. Being openly affectionate and trusting often does not seem safe to you. You may feel your love will not be appreciated or reciprocated. You may get involved in secret love affairs or fall in love with a person who is quite unavailable to you at different points in your life. Love and sacrifice often seem to go hand in hand for you  having to give something up to be with the one you love, or having to relinquish some person or some aspect of an important love relationship. You value a certain amount of self-sacrifice and a giving attitude in a partner, as you embody these traits. You can be quite mysterious to others, even if you do not mean to be, because your romantic needs are kept hidden. Although you are quite naturally drawn to relationships that are unusual, secret, challenging, and unequal, do take the time to examine why this may be the case. Be certain that you are not, in some way, punishing yourself because you do not feel worthy of an equal and public relationship. Because Venus represents attraction, and the twelfth house is associated with the feet, your feet may be especially attractive and/or erogenous zones!",
            "mars": "With Mars in the twelfth house of the natal chart, you can struggle with asserting yourself in direct, natural ways in your youth, but with time and experience (and perhaps some hard work), you are likely to learn to work with this energy rather than allow it to work against you. Watch for a tendency to feel defeated before you have given something a real shot. You are extraordinarily resourceful, and you can handle many things on your own or in uniquely creative ways. Though you may have a great deal of energy and drive, you lack confidence or the desire to put yourself and your interests first. Positively you can be very unselfish, working more on behalf of others than for yourself. You deny your own desires and needs too much, however, and you are likely to secretly become very angry, which can sabotage your finest efforts. There is a touch of the incurable romantic in your nature. Your daydreaming and fantasizing world is rich and precious to you. You also bring imagination into your sexual relationships, although you can take a bit of time to feel comfortable and to warm up to a new person in your life. Overcoming a vague and persistent feeling of guilt or doom can go a long way towards a healthier, happier approach to the pursuit of your desires.",
            "jupiter": "This position of Jupiter by house is often considered the guardian angel position — something seems to save you just in the nick of time, probably due to your inborn faith in the universe. Solitude, working alone, and meditation can bring you great pleasure and a sense of rejuvenation. You are merciful and generous, often anonymously.",
            "saturn": "Each planet in the twelfth house represents energies that an individual may be denying even exists. Saturn in this house could mean an early life setback which prompts you to push the realities of life into the unconscious. People with this position of Saturn often are plagued with guilt and it is difficult for them to know where the guilt is coming from, or even to define their anxieties. Fear of the unknown and of being overwhelmed or controlled by emotions may be the source of your general anxiety in life. It can be difficult for you to submit to the idea that you may need help from others, preferring instead to withdraw and handle your problems in solitude. The idea of exposing your innermost feelings makes you feel painfully vulnerable and dependent on others. A deep-seated feeling of loneliness and separateness can be the result. While self-control seems to be the most attractive route for you, you might find that letting others inside you, even in little ways, will help you overcome many of the vague feelings of guilt, self-doubt, and anxiety that prevent you from enjoying life in a free and natural manner. Learning to embrace your sorrow, free from guilt, is the first step towards true self-acceptance. You may be an escapist from life itself. Address your escapism. Question yourself, or talk things through with an alter ego. Make sure that you understand the demands of the real world, as well as its joys and pleasures. This will help you lead a more fulfilling and rich life.",
        },

  }
  
  var Houses = [
     { name: "House1", attribs: House1},
     { name: "House2", attribs: House2},
     { name: "House3", attribs: House3},
     { name: "House4", attribs: House4},
     { name: "House5", attribs: House5},
     { name: "House6", attribs: House6},
     { name: "House7", attribs: House7},
     { name: "House8", attribs: House8},
     { name: "House9", attribs: House9},
     { name: "House10", attribs: House10},
     { name: "House11", attribs: House11},
     { name: "House12", attribs: House12},
  ]
  
- 
  let InputData_Default = { 
        houseNum: 0, 
        signNum: 3, 
        planetsPos: { "sun": 1, "moon": 1, "mars": 2, "venus": 3, "mercury": 3, "jupiter":7, "saturn": 6, "rahu": 11, "ketu": 5}
      };

-
  if (!inputData) {
    inputData = InputData_Default;
  }
- let houseNum = inputData.houseNum;
- let signNum = inputData.signNum;
- let planetsPos = inputData.planetsPos;

- let House = Houses[houseNum]
- let Sign = Signs[signNum]
- let rulingPlanet=Sign.planet
- let trait;
- let signsInHouse = signsInHouseList[House.name];

mixin signEffect
      | This #{trait.signEffect[rulingPlanet]} value is due to ruling planet of your house #{rulingPlanet}
      
mixin planetEffect
   | <p> #{planet.name} is in the house. #{planet.name} has attributes of status as #{planet.status}, gender as #{planet.gender}, 
   | element as #{planet.element}, temperament as #{planet.temperament} nature as #{planet.nature} governs #{planet.governance} </p> 

h1 #{House.name}
p 
  eachz traitLT in House.attribs with { separator: '.', last_separator: '.', begin_with_general: 'This house influnces ', end:'.' }
    - trait = traitLT
      |  #{trait.name} ,

p
  eachz planet in Planets with { separator: '', last_separator: '.', begin_with_general: '', end:'.' }
    if (planetsPos[planet.name] == signNum && signsInHouse[planet.name])
      | <p> <b>#{planet.name} in the house:</b>
      | #{signsInHouse[planet.name]}</p>
p
  | <b> Characterestics of sign and planets:</b> The attributes of the planets and sign of the house is useful for an experienced user.  
  | <p>
  | The sign contained in the house is #{Sign.name}. 
  | Ruling planet of #{Sign.name} is #{Sign.planet}. It is a  #{Sign.nature} sign with element as #{Sign.element}.
  | Gender is  #{Sign.gender}, rises on #{Sign.gender}, fertility is #{Sign.fertility} and represents the body part #{Sign.bodyPart}
  | </p> 
  eachz planetLT in Planets with { separator: '', last_separator: '.', begin_with_general: '', end:'.' }
    if (planetsPos[planetLT.name] == signNum)
      - planet = planetLT
         | #[+planetEffect]
